<div class="time-picker" id="time-picker" (keydown)="onKeyDown" click-outside
  (clickOutside)="showDropdown = !showDropdown">
  <input class="display-time" [readonly]="!disabled" [disabled]="disabled" [value]="displayTime" type="text"
    (focus)="toggleDropdown" (click)="showDropdown = !showDropdown" />
  <span class="clear-btn" *ngIf="!hideClearButton" [hidden]="!showDropdown && showClearBtn"
    (click)="clearTime">&times;</span>

  <div class="dropdown" *ngIf="showDropdown" (focusout)="onLoseFocus">
    <div class="select-list">
      <ul class="hours">
        <li class="hint">{{hourType}}</li>
        <li *ngFor="let hr of hours" [class.active]="value[hourType] === hr" (click)="setHours(hr)">{{hr}}</li>
      </ul>
      <ul class="minutes">
        <li class="hint">{{minuteType}}</li>
        <li *ngFor="let m of minutes" (click)="setMinutes(m)" [class.active]="value[minuteType] === m">{{m}}</li>
      </ul>


    </div>
  </div>

</div>